
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e9f8;
}

#wrapper {
    max-width: 1100px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

header {
    background-color: #DE21C2;
    background-image: url("creative.jpg");
    background-repeat: repeat;        /* Repeats the image */
    background-size: 120px 120px;     /* Adjust size of repeated pattern */
    background-position: right center;/* Image appears on the RIGHT side */

    display: flex;
    align-items: center;              /* Vertically centers the title */
    justify-content: flex-start;      /* Keep the title on the left */
    
    padding: 20px;
    height: 140px;                    /* Clean, smaller header */
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #DE21C2; /* Pink text */

    /* Outline effect */
    -webkit-text-stroke: 2px black;
    text-shadow: 2px black;

    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

nav {
    background-color: #F4D7F4; /* Light pink */
    padding: 15px;
    text-align: center;
}

nav a {
    background-color: #DE21C2; /* Pink buttons */
    color: white;
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    border-radius: 8px;
}

nav a:hover {
    background-color: #DE21C2;
    color: white;
}

main {
    padding: 25px;
    background-color: #fff;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #DE21C2;
    margin-top: 0;
    text-shadow: 1px
}

.didyouknow {
    width: 40%;
    float: right; 
    background-color: #FCE3F8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}

.didyouknow ul {
    list-style: none;
    padding-left: 0;
}

.didyouknow li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.didyouknow li::before {
    content: "•";
    color: #DE21C2;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: -2px;
}
.content-left {
    width: 55%;          
    float: left;
}

.content-left h2,
.content-left p,
.content-left h4,
.content-left section {
    text-align: left;      
}